# Your Gmail for creating calendar events
MY_CALENDAR_EMAIL='me@gmail.com'

# Path to credentials directory
# where credentials.json is stored
CREDENTIALS_DIR=./credentials

# Google doc and sheets URL ids for testing
GDOC_ID_DEV='your-test-gdoc-id'
GSHEET_ID_DEV='your-test-gsheet-id'

# Google doc and sheets URL ids for production
GDOC_ID_PROD='your-prod-gdoc-id'
GSHEET_ID_PROD='your-prod-gsheet-id'

# Dinner attendees that will receiver calendar events, etc.
DINNER_ATTENDEES={
    'Attendee 1 name':'attendee1@gmail.com',
    'Attendee 2 name':'attendee2@gmail.com'
}