df2gspread==1.0.4
google-api-core==1.23.0
google-api-python-client==1.6.7
google-auth==1.23.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
googleapis-common-protos==1.52.0
numpy==1.19.4
pandas==1.1.4
